<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/style/style1.css}" rel="stylesheet" />
</head>
<body>

<h1>Напиши письмо</h1>

<form action="#" th:action="@{/emailUser}"  method="post">
    <p>Кому: <input type="text" name="to"/></p>
    <p>Тема: <input type="text" name="subject"/></p>
    <p>Текст сообщения: <textarea rows = "6" name="text"></textarea></p>

    <p><input type="submit" value="Отправить" /> </p>
    <p><a href="/welcomePage">На главную страницу</a></p>

</form>

</body>
</html>