<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/style/style1.css}" rel="stylesheet" />
</head>
<body>
<h1>Такого пользователя нет</h1>
<p th:text="'Пользователь ' + ${searchUser.surname} + ' '+ ${searchUser.name} + ' не найден!'" />
<p ><a href="/searchUser">Найти другого пользователя</a></p>
<p><a href="/welcomePage">На главную страницу</a></p>
</body>
</html>