<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/style/style1.css}" rel="stylesheet" />
</head>
<body>
<h1>Добавление пользователя</h1>
<form action="#" th:action="@{/user}" th:object="${user}" method="post">
    <p>Фамилия: <input type="text" required th:field="*{surname}" /></p>
    <p>Имя: <input type="text" required th:field="*{name}" /></p>
    <p>Отчество: <input type="text" th:field="*{otchestvo}" /></p>
    <p>Возраст: <input type="number" min="16" max="65" th:field="*{age}" /></p>
    <p>Зарплата: <input type="number" th:field="*{salary}" /></p>
    <p>Email: <input  type="email" required pattern="\w+@\w+\.ru|\w+@\w+\.com" th:field="*{email}" /></p>
    <p>Работа: <input type="text" th:field="*{job}" /></p>
    <p><input type="submit" value="Отправить" />
    <p><a href="/welcomePage">На главную страницу</a></p>
</form>
</body>
</html>