<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/style/style1.css}" rel="stylesheet" />
</head>
<body>
<h1>Welcome!</h1>

<p >Do you want to add user <a href="/user">manually</a> or <a href="/userFromFile"> from your file</a>?</p>


<p >Do you want to <a href="/searchUser">find someone</a> ? </p>


<p >Do you want to <a href="/emailUser">write an email</a> ? </p>

</body>
</html>