<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/style/style1.css}" rel="stylesheet" />
</head>
<body>
<h1>Добро пожаловать!</h1>

<p >Вы хотите добавить пользователя <a href="/user">вручную</a> или <a href="/userFromFile"> из файла </a>?</p>


<p >Вы хотите <a href="/searchUser">найти пользователя</a> ? </p>


<p >Вы хотите <a href="/emailUser">написать email</a> ? </p>

</body>
</html>